<% @users.each do |user| %>

<% included = @friends ? @friends.include?(user) : nil %>

<div class="userform <%= included ? "friended" : "unfriended" %>">
  <%= user.username %>
<form action="<%= user_friendship_url(user) %>" class="friend <%= included ? "hidden" : "" %>">
  <input type="submit" value="friend" class="friend">
</form>
<form action="<%= user_friendship_url(user) %>" class="unfriend <%= included ? "" : "hidden" %>">
  <input type="submit" value="unfriend" class="unfriend">
</form>
</div>

<% end %>

<script>
var friendings = function(friendToggle, oppFriend){
  $(".userform").on("click", "input." + friendToggle, function(event){
    event.preventDefault();
    $(this).attr('disabled','disabled');
    $(this).attr('value', friendToggle + 'ing...');
    var formData = $(this.form).serialize();
    var that = this;
    $.ajax({
      url: that.form.action + ".json",
      type: friendToggle === "friend" ? "POST" : "DELETE",
      data: formData,
      success: function () {
        $(that.form).toggleClass('hidden');
        $(that.form).siblings("." + oppFriend).toggleClass('hidden');
        $(that).removeAttr('disabled');
        $(that).attr('value', friendToggle);
      }
    });
  }
  );
}

friendings('friend', 'unfriend');
friendings('unfriend', 'friend');
</script>